          <div class="row">
            <div class="col-sm-4">
              <div class="tile purple">
                <a class="titlelink" href="{{ url_for('allparserJobs') }}"><h3 class="title">PDF processor</h3></a>
                <p>This module processes all new pdf, loaded.</p>
                <p>100 PDF's left to process.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tile red">
                <a class="titlelink" href="{{ url_for('allgenJobs') }}"><h3 class="title">Booklet generator</h3></a>
                <p>Generate data collection booklet.</p>
                <p>100 booklets left to generate.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tile orange">
                <h3 class="title">Workers</h3>
                <p>worker management.</p>
                <p>(100) workers active.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="tile green">
                <h3 class="title">Module</h3>
                <p>Another module description.</p>
                <p>More details.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tile blue">
                <h3 class="title">Module</h3>
                <p>Module details go here.</p>
                <p>More details.</p>
              </div>
            </div>    
          </div>